<p id="notice"><%= notice %></p>


<% content_for :admin do %>
  <p>You are an Admin!</p>
  <p>  This is the Contents Show page for Admin! </p>
  <br>
  <p>
  <strong>Name:</strong>
  <%= @content.name %>
  </p>
  <p><%= link_to 'Edit', edit_content_path(@content) , class: 'button primary'%>
  <%= link_to 'Back', contents_path , class: 'button primary'%>
</p>

<% if Content.exists?(name: params[:name]) %>
 <p>Test: <%= @contentshow.name%></p>
 <% end %>

<br>

<% end %>

<% content_for :lecturer do %>
  <P>  You are an Lecturer!" </P>
  <p>  This is the Contents Show page for Lecturer! </p>
    <br>
    <p>
  <strong>Name:</strong>
  <%= @content.name %>
  </p>
    <br>
  <%= link_to 'Edit', edit_content_path(@content) , class: 'button primary'%>
  <%= link_to 'Back', contents_path, class: 'button primary' %>

<br>

<% end %>


<% content_for :student do %>
  <p>  You are an Student!   </p>
  <p>  This is the Contents Show page for Student!  </p>
  <br>
  <p>

  <strong>Name:</strong>
  <%= @content.name %>
  </p>

  <br>


  <%= link_to 'Back', contents_path, class: 'button primary' %>
  <br>
<% end %>
