<p id="notice"><%= notice %></p>



<% content_for :admin do %>
  <p>You are an Admin!</p>
<h1>Users</h1>
<table class="hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Role</th>
      <th>Email</th>
      <th>Password digest</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.role %></td>
        <td><%= user.email %></td>

        <td><%= user.password_digest %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'New User', new_user_path , class: 'button success' %>

<br>
<%= render "edit_courses_in_users_page", :courses => @courses %>
<br>
<%= render "edit_contents_in_users_page", :contents => @contents %>

<br>

<% end %>

<% content_for :lecturer do %>
  <P> You are an Lecturer!</P>
  <p> This is the User index for Lecturer! </p>
<br>

  <%= link_to 'My Info', current_user , class: 'button primary' %>|<%= link_to 'Edit',edit_user_path(current_user) , class: 'button primary' %>
<br>
<%= render "edit_courses_in_users_page" , :courses => @courses %>
<br>
<%= render "edit_contents_in_users_page" , :contents => @contents %>

<br>
<% end %>

<% content_for :student do %>
  <p>  You are an Student!</p>
  <p> This is the User index for Student! </p>
  <br>


<%= link_to 'My Info', current_user , class: 'button primary' %>
<br>

<br>
<%= render "show_courses_in_users_page" %>
<br>



<% end %>
